{# Header #}

{% stylesheets filter='?scssphp' 'bundles/core/style.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}

<a href="{{path ('core_home')}}"><img src="http://www.logo00.com/logo-livre/logo-livre.gif" alt="logo" height="50" /></a>