.bouton {
    display: inline-block;
    text-align: center;

    color: blue;
    text-decoration: none;

    border-width: 1px;
    border-style: solid;
    border-color: blue;  

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bouton:hover {
    color: white;
    background-color: blue;
}