{# Page d'accueil #}

{% extends "CoreBundle::layout.html.twig" %}


{% block body %}

<p>

<a href="{{path ('rb_carnet_home')}}" class="bouton">Carnet de Notes</a>

    

</div>

</p>

{% endblock %}
